<br />
<select id="level_2" name="level_2">
	<optgroup label="Bitte w&auml;hlen Sie einen Stadtteil">
		<option value="manhattan">Manhattan</option>
		<option value="queens">Queens</option>
		<option value="brooklyn">Brooklyn</option>
	</optgroup>
</select>