<br />
<select id="level_2" name="level_2">
	<optgroup label="Bitte w&auml;hlen Sie einen Stadtteil">
		<option value="altstadt">Altstadt</option>
		<option value="benrath">Benrath</option>
		<option value="urdenbach">Urdenbach</option>
	</optgroup>
</select>